.landing__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing__header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing__title {
  font-size: 70px;
  font-weight: bold;
}

.landing__description {
  font-size: 25px;
  opacity: 0.6;
}

.landing__buttons {
  display: flex;
  margin-top: 50px;
}

.landing__button {
  font-weight: bold;
  background: #0084ff;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  transition: all ease 200ms;
  text-decoration: none;
}

.landing__button:hover {
  opacity: 0.7;
}

.landing__join {
  background: #595d63;
}

.landing__image {
  height: 400px;
  -webkit-box-shadow: -1px 8px 33px 17px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 8px 33px 17px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 8px 33px 17px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media only screen and (max-width: 850px) {
  .landing__container {
    flex-direction: column;
  }
  .landing__image {
    height: 200px;
  }
}
